/* * {
    outline: 1px orange solid;
} */

#nav {
    justify-content: space-around;
    background-color: rgb(13, 28, 59);
}

#navLink {
    width: 40%;
    justify-content: space-around;
    border-radius: 10px;
}

#navLink img {
    /* width="112" height="28" */
   border-radius: 10px;
   height: 3rem;
   max-height: none;
   height: none;
}

#navLink span {
    font-family: 'Lobster', cursive;
    font-size: 2.4vw;
    color: rgb(120, 169, 175);
}

/* Search City */

#labelText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8vw;
    padding: 10px 10px 0px 10px;
}

#cityName {
    width: 90%;
    margin: 5px;
}
.control {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 10px 10px
}

#searchBtn {
    width: 90%;
    margin: 5px;
}







/* 
Media Queries Start */

@media screen and (max-width: 1024px) {
    #nav {
        display: flex;
        justify-content: space-around;
        background-color: rgb(13, 28, 59);
    }
    
    #navLink {
        display: flex;
        width: 60%;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
    }
    #navLink span {
    
        font-size: 4.2vw;
 
    }
  }

  @media screen and (max-width: 1024px) {
    #navLink span {
        font-size: 6vw;
  }
}